*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    position: fixed;
    margin-bottom: 20px;
}
header section{
    width: 80%;
    margin: auto;
}

.header-arriba{
    display: flex;

    justify-content: space-between;
}
.header-arriba p span{
    margin: 0px 20px;
}

.header-arriba div a{
    text-decoration: none;
    color: black;
    margin: 0px 20px;
}

.header-abajo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: flex;
    list-style: none;
    gap: 20px;
    padding-right: 1.25rem;
}
.navbar li a{
    text-decoration: none;
}

.section-principal-index{
    display: grid;
    width: 100%;
    height: 37.5rem;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(5,1fr);
    background-color: rgba(135, 206, 250, 0.157);
}
.section-principal-index article{
    grid-column: 2/4;
    grid-row: 2/5;
    align-self: center;
    width: 31.25rem;
}
.section-principal-index article h1{
    font-size: 2.5rem;
    padding-bottom: .9375rem;
}
.section-principal-index article p{
    padding-bottom: .9375rem;
}
.section-principal-index article div button{
    all: unset;
    padding: 15px 30px;
    border: 1px solid rgb(0, 191, 255);
}


.section-principal-index div {
    grid-column: 4/7;
    grid-row: 2 / 6;
}

.section-principal-index div img{
    width: 100%;
    height: 100%;
}

.section-secundaria-index{
    display: flex;
    height: 18.75rem;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
}

.section-secundaria-index article{
    width: 500px;
   
    border: 1px solid rgba(73, 73, 73, 0.362);
    display: flex;
   
    gap: 5px;
    padding: 10px;
}

.section-secundaria-index article h2{
    padding-bottom: .9375rem ;
}

.section-secundaria-index article p{
    font-size: .875rem;
    padding-bottom: .625rem;
}

.section-secundaria-index article a{
    text-decoration: none;
    color: blue;
}
.section-terciaria-index{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
}

.section-terciaria-index img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 /4;
    grid-row:  1/4;
}

.section-terciaria-index article{
    grid-column: 4/6;
    grid-row: 1/4;
    justify-self: center;
    align-self: center;
    }

.section-terciaria-index article .section-datos{
    display: flex;
    gap: 40px;
}